@model PersonalFinanceApplication.Models.CashflowDto
@{
    ViewBag.Title = "Edit";
}

<h2>Update Cashflow</h2>

<form action="/Cashflow/Update/@Model.CashflowId" method="post">
    <div style="display:none">
        @* Pass through cashflow ID *@
        <input type="text" name="CashflowId" value="@Model.CashflowId" />
    </div>

    <div>
        <label>Period ID:</label> <input type="number" name="PeriodId" value="@Model.PeriodId" />
    </div>
    <div>
        <label>Primary Income:</label> <input type="number" name="PrimaryIncome" value="@Model.PrimaryIncome" />
    </div>
    <div>
        <label>Miscellaneous Income:</label> <input type="number" name="MiscIncome" value="@Model.MiscIncome" />
    </div>
    <div>
        <label>Necessary Expenditure:</label> <input type="number" name="NecessarySpend" value="@Model.NecessarySpend" />
    </div>
    <div>
        <label>Discretionary Expenditure:</label> <input type="number" name="DiscretionarySpend" value="@Model.DiscretionarySpend" />
    </div>
    <div>
        <input type="submit" value="Update Cashflow" />
    </div>
</form>