@model PersonalFinanceApplication.Models.BalanceDto
@{
    ViewBag.Title = "Edit";
}

<h2>Update Balance</h2>

<form action="/Balance/Update/@Model.BalanceId" method="post">
    <div style="display:none">
        @* Pass through balance ID *@
        <input type="text" name="BalanceId" value="@Model.BalanceId" />
    </div>

    <div>
        <label>Period ID:</label> <input type="number" name="PeriodId" value="@Model.PeriodId" />
    </div>
    <div>
        <label>Chequing Account:</label> <input type="number" name="ChequingAcct" value="@Model.ChequingAcct" />
    </div>
    <div>
        <label>Savings Account:</label> <input type="number" name="SavingsAcct" value="@Model.SavingsAcct" />
    </div>
    <div>
        <label>Revolving Credit:</label> <input type="number" name="RevolvingCrdt" value="@Model.RevolvingCrdt" />
    </div>
    <div>
        <label>Instalment Credit:</label> <input type="number" name="InstalmentCrdt" value="@Model.InstalmentCrdt" />
    </div>
    <div>
        <input type="submit" value="Update Balance" />
    </div>
</form>